{% extends 'main.html' %}
{% block content %}
	<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='comment_order.css') }}">
</head>
{% for post in posts %}
<div class="wrap" >
    <div class="comment" style="background-color: white;">
        <h3 style="color:black">{{ post[0] }}</h3>
        <ul class="postscript"> <!-- links and timestamp -->
            {% if g.user[1] == post[0] %}
            <li><a href="{{url_for('update',id=post[1])}}" style="text-decoration:none">Edit</a></li>
            <!--<li><a href="/delete">Delete</a></li> -->
            {% endif %}
            <li class="date" style="text-align: right;">commented on {{ post[2].strftime('%Y-%m-%d') }}</li>
            <p class = "body" style="color:blue">{{ post[3] }}</p>
        </ul>
    </div>
</div>
{% endfor %}
{% endblock %}