{% extends 'main.html' %}
{% block content %}
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="margin">
					<div class="container">

						<!--content-->
							<article>

									<div class="desc-text">

									<span class="image featured map"><img src="../static/images/about.JPG" alt="" /></span>
									<span class="image featured map"><img src="../static/images/lag.jpg" alt="lagos" /></span>

											
									</div>
							</article>
							<article>
											<header class="major map" style="text-justify: auto;">
												<h2>The Informal Appropriation of Public Space for Leisure Physical Activity in Lagos and Yaounde (ALPhA)</h2>
												<p>The ALPhA study explores ways that public space is being used for physical activity (exercise) in Lagos,
													Nigeria and Yaoundé, Cameroon. Over 2 years, the project aims to understand the types of ALPhA spaces that exist,
													the experiences of people who use these ALPhA spaces, and air pollution, safety and injury risks.
													The interdisciplinary team members come from across several fields including urban planning, public health, chemistry, engineering…
												</p>
												 <p>
													>Africa is experiencing rapid urbanisation alongside poorly governed infrastructure development 
													and increasing unhealthy living. These factors contribute to an increased burden
													of non-communicable diseases (NCDs) like obesity, diabetes and heart disease. 
													These NCDs also contribute to premature death disproportionately affecting the economically active and jeopardising development.
													The built environment is a critical determinant of physical activity, a risk factor for NCDs,
													but due to unmet need for the necessary infrastructure for exercise,
													public spaces in African cities are increasingly informally used for exercise, 
													sometimes under hazardous conditions such as toxic air pollution. 
													As a result of a lack of surveillance data, the health risks of exercise in public spaces are unknown.
												 </p>
											</header>
											<header class="major map" style="text-justify: auto;">
												<h2>
													Oni et al
												</h2>
												<p>
													Oni et al. is an urban health practice, designing health into cities. 
												We work as technical partners on boundary-spanning science-informed solutions that integrate health into urban systems and environments.  
												 We also offer advisory and speaking services, shaping norms to health-proof the future of cities globally.
												</p>
											</header>
											<header class="major map" style="text-justify: auto;">
												<h2>
													Sentiment and opinion analysis of public space physical activity in Lagos during lockdown
												</h2>
												<p> <strong>
													a data-driven approach to developing context-aware public health messaging to reduce disease vulnerability and improve COVID-19 control.
												</strong></p>
												<div class="desc-text">
													<span class="image featured"><img src="../static/images/sport.jpg" alt="lagos" /></span>
												</div>

												<p>
													 The COVID-19 pandemic has required lockdown measures that influence leisure physical activity (LPA) in many African cities also experiencing an obesity pandemic,
													 a risk factor for adverse COVID-19 outcomes. Despite lockdown measures, there have been reports of an outdoor LPA in Lagos, particularly in lower-income areas,
													 where the reduction in traffic associated with lockdown measures may have reduced air pollution, injury and violence, 
													 enticing residents to defy lockdown restrictions to take advantage of these newly created safe spaces. 
													 This creates an evolving tension in public health messaging for COVID-19 control versus obesity prevention that could have implications for health inequities in the long term. 
													 We aim to conduct opinion analyses of public space LPA to explore perceptions of government lockdown restrictions (and enforcement), and the impact of these lockdown measures on the perceptions,
													 nature and frequency of appropriation of public space for activity in Lagos.
													 Findings will inform development of context-aware public health messaging that safely encourages physical activity in the short term and health foresight interventions to reduce co-morbidity-associated vulnerability to future health emergencies long-term.
							
												</p>
												<p style="color: blue;"><a href="https://urbanbetter.science/projects/" style="text-decoration: none;"><strong>Read more...</strong> </a></p>
											</header>

							</article>


						

					</div>
				</div>
		
			<!-- Footer Wrapper -->
				<div id="footer-wrapper">
                    <h2 style="text-align: center;">Polimi student team:</h2>
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">
                                
								<div class="container">
									<div class="row justify-content-between align-items-center">
										<div class="col-md-6 col-lg-6">
											<div class="our_ability_img">
												<img src="../static/images/foto.jpeg" alt="Mohammed Abd Alslam">
											</div>
										</div>
										<div class="col-md-6 col-lg-5">
											<div class="our_ability_member_text">
												<h4  style="color: black;"><strong>Mohammed</strong></h4>
												<ul>
													<li><span class="ti-mouse"></span> speaking</li>
													<li><span class="ti-heart-broken"></span>Spatial analysis</li>
													<li><span class="ti-package"></span>Frontend Developer</li>
													<li><span class="ti-headphone-alt"></span>Traditional surveying</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
                                <!-------------------------------------------------------------------->
                                <div class="container">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="our_ability_img">
                                                <img src="../static/images/mustafa.jpg" alt="MUSTAFA">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-5">
                                            <div class="our_ability_member_text">
                                                <h4  style="color: black;"><strong>Mustafa</strong></h4>
                                                <ul>
                                                    <li><span class="ti-mouse"></span> speaking</li>
                                                    <li><span class="ti-heart-broken"></span>Spatial analysis</li>
                                                    <li><span class="ti-package"></span>Frontend Developer</li>
                                                    <li><span class="ti-headphone-alt"></span>Traditional surveying</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							<!-------------------------------------------------------------------->
							<div class="container">
								<div class="row justify-content-between align-items-center">
									<div class="col-md-6 col-lg-6">
										<div class="our_ability_img">
											<img src="../static/images/Daniel.jpg" alt="Daniel">
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="our_ability_member_text">
											<h4 style="color: black;"><strong>Daniel</strong></h4>
											<ul>
												<li><span class="ti-mouse"></span> speaking</li>
												<li><span class="ti-heart-broken"></span>Spatial analysis</li>
												<li><span class="ti-package"></span>Frontend Developer</li>
												<li><span class="ti-headphone-alt"></span>Traditional surveying</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-------------------------------------------------------------------->
                                 <div class="container">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="our_ability_img">
                                                <img src="" alt="LEONIE">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-5">
                                            <div class="our_ability_member_text">
                                                <h4  style="color: black;"><strong>Leonie</strong></h4>
                                                <ul>
                                                    <li><span class="ti-mouse"></span> speaking</li>
                                                    <li><span class="ti-heart-broken"></span>Spatial analysis</li>
                                                    <li><span class="ti-package"></span>Frontend Developer</li>
                                                    <li><span class="ti-headphone-alt"></span>Traditional surveying</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

							</div>
						</div>

					</footer>
				</div>

								

		<!-- Scripts -->
		
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/jquery.dropotron.min.js"></script>
	<script src="../static/js/browser.min.js"></script>
	<script src="../static/js/breakpoints.min.js"></script>
	<script src="../static/js/util.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="../static/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="../static/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="../static/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="../static/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/waypoints.min.js"></script>
    <!-- contact js -->
    <script src="../static/js/jquery.ajaxchimp.min.js"></script>
    <script src="../static/js/jquery.form.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/mail-script.js"></script>
    <script src="../static/js/contact.js"></script>
    <!-- custom js -->
    <script src="../static/js/custom.js"></script>
	</body>
{% endblock %}
