{% extends 'create_comment.html'%}

{% block header %}
<div id="page-wrapper">

    <div id="header-wrapper" class="margin">
        <div class="container">

            <!-- Header -->
                <header id="header">
                    <div class="inner">

                        <!-- Logo -->
                            <h1><a href="/HomeWithMap"  id="logo">ALPHA SPACE</a></h1>

                        <!-- Nav -->
                            <nav id="nav">
                                
                                <ul>
                                    {% if g.user %}
                                      <li><a href="/show_comment">Blog</a></li>
                                        <li><a href="/comment">Leave a comment</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                        
									
                        									{% else %}
                        						  <li><a href="/login">Log in</a></li>
                                        <li><a href="/register">Sign up</a></li>
                                         <li><a href="/show_comment">Blog</a></li>
                                        <li><a href="/comment">Leave a comment</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/contact">Contact</a></li>
									
									{% endif %}
                                
                                </ul>
                            </nav>

                    </div>
                </header>

            <!--content-->
        </div>
    </div>
    {% if g.user %}
    <h3 style="color: red;">logged in as {{ g.user[1] }}!</h3>
    {% endif %}
</div>
{% endblock %}