<!DOCTYPE html>
<html lang="en">
  <head>

             <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
           <link rel="stylesheet" href="{{ url_for('static', filename='startforMap.css') }}">
          
  </head>
  <body>
    <div id="page-wrapper">

        <div id="header-wrapper" class="margin">
            <div class="container">
    
                <!-- Header -->
                    <header id="header">
                        <div class="inner">
    
                            <!-- Logo -->
                                <h1><a href="/HomeWithMap"  id="logo">ALPHA SPACE</a></h1>
    
                            <!-- Nav -->
                                <nav id="nav">
                                    
                                    <ul>
                                        {% if g.user %}
                                        <li><a href="/show_comment">Blog</a></li>
                                        <li><a href="/comment">Leave a comment</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                        
                                        {% else %}
                                        <li><a href="/login">Log in</a></li>
                                        <li><a href="/register">Sign up</a></li>
                                         <li><a href="/show_comment">Blog</a></li>
                                        <li><a href="/comment">Leave a comment</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        
                                        {% endif %}
                                    
                                    </ul>
                                </nav>
    
                        </div>
                    </header>
                    <p></p>
                    
                    <div> <a class="weatherwidget-io" href="https://forecast7.com/en/6d523d38/lagos/" data-label_1="LAGOS" data-label_2="WEATHER" data-icons="Climacons" data-theme="pure" >LAGOS WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
   </div>
   
   <hr>
    <p></p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    
   
                      <hr>     
        
             {% include 'map.html' %}    
      <hr>
    
  </body>
  
</html>