{% extends 'create_comment.html'%}

{% block header %}
<div id="page-wrapper">

    <div id="header-wrapper" class="margin">
        <div class="container">

            <!-- Header -->
                <header id="header">
                    <div class="inner">

                        <!-- Logo -->
                            <h1><a href="/About"  id="logo">ALPHA SPACE</a></h1>

                        <!-- Nav -->
                            <nav id="nav">
                                
                                <ul>
                                    {% if g.user %}
                                    <li><a href="/logout">logout</a></li>
                                    <li><a href="/comment">Add comment</a></li>
                                    <li><a href="/show_comment">show comment</a></li>
                                    <li><a href="/portfolio">portfolio</a></li>
                                    <li><a href="/map">map</a></li>
                                    
									
									{% else %}
									<li><a href="/login">Sign in</a></li>
									<li><a href="/register">sign up</a></li>
									<li><a href="/comment">Add comment</a></li>
									<li><a href="/show_comment">show comment</a></li>
									<li><a href="/portfolio">portfolio</a></li>
									<li><a href="/map">map</a></li>	
									
									{% endif %}
                                
                                </ul>
                            </nav>

                    </div>
                </header>

            <!--content-->
        </div>
    </div>
    {% if g.user %}
    <h3 style="color: red;">logged in as {{ g.user[1] }}!</h3>
    {% endif %}
</div>
{% endblock %}