<!DOCTYPE html>
<html lang="en">
  <head>


           <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
          
  </head>
  <body>
    <div id="page-wrapper">

        <div id="header-wrapper" class="margin">
            <div class="container">
    
                <!-- Header -->
                    <header id="header">
                        <div class="inner">
    
                            <!-- Logo -->
                                <h1><a href="/About"  id="logo">ALPHA SPACE</a></h1>
    
                            <!-- Nav -->
                                <nav id="nav">
                                    
                                    <ul>
                                        {% if g.user %}
                                        <li><a href="/logout">logout</a></li>
                                        <li><a href="/comment">Add comment</a></li>
                                        <li><a href="/show_comment">show comment</a></li>
                                        <li><a href="/portfolio">portfolio</a></li>
                                        <li><a href="/home">map</a></li>
                                        <li><a href="/contact">contact</a></li>
                                        
                                        
                                        {% else %}
                                        <li><a href="/login">Sign in</a></li>
                                        <li><a href="/register">sign up</a></li>
                                        <li><a href="/comment">Add comment</a></li>
                                        <li><a href="/show_comment">show comment</a></li>
                                        <li><a href="/portfolio">portfolio</a></li>
                                        <li><a href="/home">map</a></li>	
                                        <li><a href="/contact">contact</a></li>
                                        
                                        {% endif %}
                                    
                                    </ul>
                                </nav>
    
                        </div>
                    </header>
                    <p></p>
                    
                    <div> <a class="weatherwidget-io" href="https://forecast7.com/en/6d523d38/lagos/" data-label_1="LAGOS" data-label_2="WEATHER" data-icons="Climacons" data-theme="pure" >LAGOS WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
</div>
              <div>


                <hr>
                {% include 'map.html' %}
                <hr>
       </div>
    
  </body>
  
</html>