<!DOCTYPE html>
<html lang="en">
    <head>
        <link
        href="http://cdn.bokeh.org/bokeh/release/bokeh-0.11.1.min.css"
        rel="stylesheet" type="text/css">
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        <div>
        ich bin ein esel
        </div>
        <div style="width: 20%; display: inline-block;">
            {{ div | safe }}
            {{ script | safe }}
        </div>
    </body>
</html>