<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: left;}
div {text-align: center;}
table, th, td {border: 1px solid black; margin-left:auto;margin-right:auto;}
</style>
</head>
<body>
<nav>
	<div>
    <a href=/home>Home</a>  |   
    <a href=/login>login</a>    |   
    <a href=/Register>Sign UP</a>
    </div>
</nav>
<h2>This is a TEST web app for PORTFOLIO:</h2>

{% block header %}
  <h1>{% block title %}ALPhA Space{% endblock %}</h1>
  <h2>Lagos ALPhA study on public space exercise</h2>
{% endblock %}

{% block content %}
  {% for alpha in alphas %}
    <article class="post">
        <header>
          <div>
          <h1>ALPhA Space ID Number {{ alpha[1] }}</h1>
          {% if alpha[64] %}
          <h2>{{ alpha[64] }}</h2>
          {% endif %}
          <div class = "about">Submitted by {{ alpha[6] }} year old {{ alpha[7] }} on {{ alpha[4] }} at {{ alpha[5] }}</div>
          </div>
        </header>
      
      <table>
          <tr>    
        {% for i in range(5) %}
            {% if alpha[9+i] %}
            <td><IMG SRC="{{ alpha[9+i] }}" width="360" height="500"></td>
            {% endif %}
        {% endfor %}
            </tr>
      </table>
        <div class = "about">Recorded Location : Longitude {{ alpha[65] }}°, Latitude {{ alpha[66] }}° with {{ alpha[67] }} m Accuracy</div>
          </div>
        {% if alpha[14] != none %}
            <p>{{ alpha[14] }}</p>
        {% endif %}
        {% if alpha[15] != none %}
            <audio controls>
              <source src="{{ alpha[15] }}" type="audio/wav">
              Your browser does not support the audio element.
            </audio>
        {% endif %}
            <p>6. Which type of public space does the photo or description represent? : <span style="color:green">{{ alpha[16] }}</span></p>
        {% if alpha[17] != none %}
            <p>{{ alpha[17] }}</p>
        {% endif %}
        {% if alpha[18] != none %}
            <audio controls>
              <source src="{{ alpha[46] }}" type="audio/wav">
              Your browser does not support the audio element.
            </audio>
        {% endif %}
        {% if alpha[19] != none %}
            <p>{{ alpha[19] }}</p>
        {% endif %}
        {% if alpha[20] != none %}
            <p>7. What is the nature of exercise you usually perform or observe in this space? (tick all that apply)  : <span style="color:green">{{ alpha[20] }}</span></p>
        {% endif %}
        {% if alpha[21] != none %}
            <p>{{ alpha[21] }}</p>
        {% endif %}
            <p>8. How do you and/or other people exercise in this space?  : <span style="color:green">{{ alpha[22] }}</span></p>
            <p>9. How is the exercise in this space organised?   : <span style="color:green">{{ alpha[23] }}</span></p>
        {% if alpha[24] != none %}
            <p>{{ alpha[24] }}</p>
        {% endif %}  
            <p>10. Are you involved in the coordination, organisation or champion of any exercise this space?   : <span style="color:green">{{ alpha[25] }}</span></p>
        {% if alpha[26] != none %}
            <p>{{ alpha[26] }}</p>
        {% endif %}
            <p>11. Are you aware of ANY exercise taking place in this space during the COVID-19 lockdowns?   : <span style="color:green">{{ alpha[27] }}</span></p>
        {% if alpha[28] != none %}
            <p>{{ alpha[28] }}</p>
        {% endif %}
            <p>11.b. Did you participate in any exercise in this space during the COVID-19 lockdowns? : <span style="color:green">{{ alpha[29] }}</span></p>
        {% if alpha[30] != none %}
            <audio controls>
              <source src="{{ alpha[30] }}" type="audio/wav">
              Your browser does not support the audio element.
            </audio>
        {% endif %}
        {% if alpha[31] != none %}
            <p>{{ alpha[31] }}</p>
        {% endif %}
        {% if alpha[32] != none %}
            <audio controls>
              <source src="{{ alpha[32] }}" type="audio/wav">
              Your browser does not support the audio element.
            </audio>
        {% endif %}
        {% if alpha[33] != none %}
            <p>{{ alpha[33] }}</p>
        {% endif %}
            <p>13. Do you think there are any aspects of this ALPhA space that reduce or increase the risk of INJURY OR DISEASE for people using this space for exercise? : <span style="color:green">{{ alpha[34] }}</span></p>
            <p>13.a. Please select the option (only one) which describes your perception of health risk : <span style="color:green">{{ alpha[35] }}</span></p>
      <table>
          <tr>    
        {% for i in [36,38,40,42,44] %}
            {% if alpha[i] %}
            <td><IMG SRC="{{ alpha[i] }}" width="360" height="500">
            <p><span style="color:green">{{ alpha[i+1] }}</span></p></td>
            {% endif %}
        {% endfor %}
            </tr>
      </table>
        {% if alpha[46] != none %}
            <audio controls>
              <source src="{{ alpha[46] }}" type="audio/wav">
              Your browser does not support the audio element.
            </audio>
        {% endif %}
        {% if alpha[47] != none %}
            <p>{{ alpha[47] }}</p>
        {% endif %}
            <p>14. Do you think there are any aspects of this ALPhA space that influence SAFETY of people using this space for exercise? : <span style="color:green">{{ alpha[48] }}</span></p>
            <p>14.a. Please select the option (only one) which describes your perception of safety : <span style="color:green">{{ alpha[49] }}</span></p>
        <table>
          <tr>    
        {% for i in [50,52,54,56,58] %}
            {% if alpha[i] %}
            <td><IMG SRC="{{ alpha[i] }}" width="360" height="500">
            <p><span style="color:green">{{ alpha[i+1] }}</span></p></td>
            {% endif %}
        {% endfor %}
            </tr>
      </table>
        {% if alpha[60] != none %}
            <audio controls>
              <source src="{{ alpha[60] }}" type="audio/wav">
              Your browser does not support the audio element.
            </audio>
        {% endif %}
        {% if alpha[61] != none %}
            <p>{{ alpha[61] }}</p>
        {% endif %}
            <p>15. What is the relevance of this place to you? (select only one answer) : <span style="color:green">{{ alpha[62] }}</span></p>
        {% if alpha[63] != none %}
            <p>{{ alpha[63] }}</p>
        {% endif %}
    </article>
  {% endfor %}
{% endblock %}
<footer>
  <p>Authors: M. Abd Alslam Mohammed Elkhalifa, M. Abdalla Eldouma Mohamed, D. Aguirre, L. Dragun<br>
  <p>Politecnico di Milano - Software Engineering for Geoinformatics - 2021<br></p>
</footer>

</body>
</html>